#logo-icon {
    content: url("https://media.giphy.com/media/scaYhYgWP1UpOijKlc/giphy.gif") !important;
    width: 100px !important;
    height: 100px;
    object-fit: cover;
    display: block;
}